*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: linear-gradient(to bottom, #51e2f5, #9df9ef, #edf7f6, #ffa8b6, #a28089);
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card{
    position: relative;
    width: 350px;
    height: 90px;
    background-color: #2d545e;
    border-radius: 15px;
    padding: 1rem;
    transition: .9s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.card-toggle{
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: -60px;
    left: 44%;
    background-color: #2d545e;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.card-toggle::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -34px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #2d545e;
}

.card-toggle::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -34px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #2d545e;
}

ion-icon{
    position: relative;
    top: 30px;
    left: 18px;
    color: #fff;
    font-size: 1.5rem;
    transition: .7s;
}

.card.active .card-toggle ion-icon{
    transform: rotate(180deg);
    transition: .7s;
}

.card.active{
    width: 400px;
    height: 500px;
    transition: 1s;
    transition-delay: .3s;
}

.card-content{
    margin: auto;
    width: 300px;
}

.card.active .card-content{
    transition: .9s;
    transition-delay: .5s;
}

.card h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(216, 208, 208);
    line-height: 32px;
    text-align: center;
}

.card p{
    font-size: .8rem;
    font-weight: 40;
    color: rgb(216, 208, 208);
    line-height: 24px;
    text-align: center;
}

.profile-image-container{
    width: 300px;
    height: 300px;
    border: 4px solid #fff;
    border-radius: 2px;
    margin: 1.5rem 0;
    opacity: 0;
    transition: .5s;
}

.profile-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cta{
    margin: auto;
    width: 50%;
}

.cta-button{
    padding: .6rem 1.5rem;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    color: #192a2e;
    cursor: pointer;
    width: 100%;
    margin: .5rem;
    opacity: 0;
}

.card.active .profile-image-container,
.card.active .cta-button{
    opacity: 1;
    transition: .7s;
    transition-delay: .5s;
}



                        


